absl-py==2.1.0
altair==5.2.0
astunparse==1.6.3
attrs==23.2.0
blinker==1.7.0
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
dm-tree==0.1.8
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1698714947081/work
flatbuffers==24.3.7
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1707102468451/work
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.42
google-pasta==0.2.0
grpcio==1.62.1
h5py==3.10.0
huggingface-hub==0.21.4
idna==3.6
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1704966972576/work
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
keras==3.0.5
libclang==16.0.6
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1706900163039/work
mdurl==0.1.2
ml-dtypes==0.3.2
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
namex==0.0.7
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1698504735452/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1707225421156/work/dist/numpy-1.26.4-cp312-cp312-macosx_11_0_arm64.whl#sha256=011d57633d659db8280a5811d62d0c5a615719a6d7cbd46a04f6ffce0c2a7db3
opt-einsum==3.3.0
packaging==23.2
pandas==2.2.1
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1704252125823/work
protobuf==4.25.3
pyarrow==15.0.1
pydeck==0.8.1b0
Pygments==2.17.2
pytesseract==0.3.10
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
referencing==0.33.0
regex==2023.12.25
requests==2.31.0
rich==13.7.1
rpds-py==0.18.0
safetensors==0.4.2
setuptools==69.1.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.1
streamlit==1.32.0
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1684180539862/work
tenacity==8.2.3
termcolor==2.4.0
tokenizers==0.15.2
toml==0.10.2
toolz==0.12.1
torch @ file:///Users/runner/miniforge3/conda-bld/libtorch_1707398034107/work/torch-2.1.2.post2-cp312-cp312-macosx_11_0_arm64.whl#sha256=0de53536fc009d78821edaf0ec32a498fe814bc961ad10ab8257449bbe7131f9
torchvision==0.2.2
tornado==6.4
tqdm==4.66.2
transformers==4.38.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1708904622550/work
tzdata==2024.1
urllib3==2.2.1
Werkzeug==3.0.1
wheel==0.42.0
wrapt==1.16.0
